body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.manrope-unique-weight-200 {
  font-weight: 200;
}

.manrope-unique-weight-300 {
  font-weight: 300;
}

.manrope-unique-weight-400 {
  font-weight: 400;
}

.manrope-unique-weight-500 {
  font-weight: 500;
}

.manrope-unique-weight-600 {
  font-weight: 600;
}

.manrope-unique-weight-700 {
  font-weight: 700;
}

.manrope-unique-weight-800 {
  font-weight: 800;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
